{% extends "layout.html" %}

{% block heading %}

<div class="w3-container">
  <h1 class="w3-center w3-animate-left	">Booksera</h1>
</div><a href="{{url_for('publish')}}" class="btn btn-dark" style="position:absolute; top: 6px;; right:0;">Join as a Publisher!</a>

{% endblock %}

{% block body %}

  {% with messages = get_flashed_messages() %}
 {% if messages %}

   {% for message in messages %}
   <div class="alert alert-danger" role="alert">
<span> {{message}} </span>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>

   {% endfor %}
 {% endif %}
{% endwith %}
<form action="{{ url_for('hello')}}" method="post">
    <div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px ;" >
  <div class="form-group">
<label for="username"><b>Username</b></label>
<input name="username" class="form-control" type="text" placeholder="Enter your Username" required>
<label for="password"><b>Password</b></label>
<input name="password"  class="form-control" type="password" placeholder="Enter your password" required>

</div>
<div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
</div>
 <button  type="submit" class="btn btn-dark">Login</button>
 <p > Don't have an account? <a href="{{ url_for('sign') }}" >Register now.</a> </p>
 



 </article>
</div>
</form>

<br><br>
<article class="bg-secondary mb-3">
<div class="card-body text-center" style="height: 260px;">
  <footer>&copy; Copyright 2021 Booksera- All Rights Reserved</footer>

<p class="h5 text-white"></p>   <br>
</div>

</article>
{% endblock %}
