{% extends "layout.html" %}

{% block heading %}


<h2>
Booksera
</h2>
<div class="topright" style="margin-top:0;"> {{username}}
<a class="btn btn-dark" href="{{ url_for('logout') }}" role="button">Log out</a>
</div>

<!-- </header> -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
<span> {{message}} </span>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>

   {% endfor %}
 {% endif %}
{% endwith %}

<!-- flash -->


<hr class="style14">
<!-- line -->

{% endblock %}
<!-- head -->

{% block body %}
<div style="background: url(https://images2.alphacoders.com/261/thumb-1920-26102.jpg
)" class="page-holder bg-cover">
<header class="text-center text-white py-5">
    <h6 class="display-4 font-weight mb-4"> Thank you for ordering from our store!</h6>
    </header>
    <div class="container p-3 my-3 bg-dark text-white">
        <h1 class="display-4 font-weight mb-4" style="font-size: 30px; font-style: normal;"> Invoice</h1>
        <h1 style="font-style: normal; color: blanchedalmond; font-size: 20px; text-align:center;">Order no: {{order_id}}</h1>
        <h1 style="font-style: normal; color: blanchedalmond; font-size: 20px; text-align:center;">Username: {{username}}</h1>
        <h1 style="font-style: normal; color: blanchedalmond; font-size: 20px; text-align:center;">Book name: {{title}}</h1>
        <h1 style="font-style: normal; color: blanchedalmond; font-size: 20px; text-align:center;">Book isbn: {{book}}</h1>
        <h1 style="font-style: normal; color: blanchedalmond; font-size: 20px; text-align:center;">Book price: {{price}}</h1>
        <h1 style="font-style: normal; color: blanchedalmond; font-size: 20px; text-align:center;">Book quantity: {{quantity}}</h1>
        <h1 style="font-style: normal; color: blanchedalmond; font-size: 20px; text-align:center;">Total:  Pkr {{total}}</h1>
        <h1 style="font-style: normal; color: blanchedalmond; font-size: 20px; text-align:center;">Order status: Confirmed</h1>


        </div>

        <br><br>

{% endblock %}